{% extends 'todo/index.html' %}
{% block head %}
    <title>Home</title>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>Username:{{user}}</h3>
        {% if messages %}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <p>
                <label for="id_title">Title:</label>
                {{fm.title}}
            </p>
            <p>
                <label for="id_complted">Completed:</label>
                {{fm.completed}}
            </p>
            <input type="submit" value="ADD">
        </form>
        <p><a href="{% url 'logout' %}">Logout</a><a href="{% url 'changepass' %}" id="cpass">Change Password</a></p>
        <br>
        {% if todo|length > 0 %}
            <table>
                <tr>
                    <th id="cont">Todo</th>
                    <th id="crea">Created</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for td in todo %}
                    <tr>
                        {% if td.completed is True %}
                            <td id="cont"><strike>{{ td.title }}</strike></td>
                        {% else %}
                            <td id="cont">{{ td.title }}</td>
                        {% endif %}
                        <td id="cont">{{ td.created.date }}</td>
                        <td><a href="{% url 'edit' td.id %}"  id="but">Edit</a></td>
                        <td><a href="{% url 'delete' td.id %}" style="margin-left: 3px;"  id="but">Delete</a></td>
                    </tr>
                {% endfor %}
            </table><br>
        {% else %}
            <h4>There are no Todo.</h4>
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}

    <style>
        #cont {
            width: 150px;
            text-align: center;
        }
        th, td {
            background-color: #d5d1f5;
            padding: 10px;
            width: 50px;
        }
        table {
            border: 1px solid black;
        }
        #cpass {
            float: right;
        }
        #but {
            text-decoration: none;
            padding: 5px 10px 5px 10px;
            border-radius: 3px;
            background-color: brown;
            color: azure;
            margin: 5px 15px 5px 15px;
        }
        #but:hover {
            background-color: rgb(170, 67, 67)
        }
        label {
            display: inline-table;
            width: 120px;
            font-weight: bold;
            font-size: 1.05rem;
        }
        input[type=submit] {
            width: 75px;
            height: 30px;
            border: 0;
            border-radius: 3px;
            background-color: rgb(69, 69, 121);
            color: white;
            font-size: 1.05rem;
            letter-spacing: 0.5px;
            font-family: 'Courier New', Courier, monospace;
        }
        input[type=submit]:hover {
            background-color: rgb(88, 88, 150);
        }

        body {
            display: grid;
            justify-content: center;
            font-size: 1.05rem;
            letter-spacing: 0.5px;
            font-family: 'Courier New', Courier, monospace;
        }
        input[type=text] {
            outline: none;
            width: 200px;
            height: 23px;
            border-radius: 3px;
            border: 1px solid black;
            font-size: 1.05rem;
            font-family: 'Courier New', Courier, monospace;
        }
        h4 {
            text-align: center;
        }
        @media screen and (max-width: 500px) {
            body {
                font-size: 0.92rem;
            }
            table, form {
                width: 100%;
                margin-right: 5px; 
            }
            th, td {
                padding: 5px 4px 5px 4px;
                margin: 0;
            }
            #but {
                padding: 4px 5px 4px 5px;
                margin: 0 5px 0 5px;
                border-radius: 2px;
            }
        }
        @media screen and (max-width: 325px) {
            body, label {
                font-size: 0.8rem;
            }
            table, form {
                width: 100%;
                margin-top: 0px;
            }
            th, td {
                padding: 3px 2px 3px 2px;
                margin: 0;
            }
            #but {
                padding: 3px 3px 3px 3px;
                margin: 0 5px 0 5px;
                border-radius: 2px;
            }
            input[type=submit] {
                font-size: 0.8rem;
                width: 50px;
                height: 28px;
            }
            input[type=text] {
                width: 150px;
            }
            label {
                width: 80px;
            }
        }
    </style>
{% endblock %}