{% extends 'todo/index.html' %}
{% block head %}
    <title>Register</title>
{% endblock %}
{% block content %}
    <div>
        <h1>REGISTER</h1>
        {% if messages %}
            {% for message in messages %}
                <h4>{{ message }}</h4>
            {% endfor %}
        {% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            
            <label>Username</label>
            {{form.username}}<br>
            <label>Email</label>
            {{form.email}}<br>
            <label>Password</label>
            {{form.password1}}<br>
            <label>Confirm Password</label>
            {{form.password2}}<br>
            <input type="submit" value="Register">
        </form>
        <p>Already have an Account? <a href="{% url 'login' %}">SignIn</a>.</p>
    </div>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Courier New', Courier, monospace;
        }
        div {
            border: 2px solid black;
            border-radius: 5px;
            width: 430px;
            height: auto;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 30%);
        }
        h1 {
            text-align: center;
        }
        p {
            margin-top: 180px;
            margin-left: 40px;
        }
        h4, form {
            margin-left: 40px;
        }
        input[type=submit] {
            width: 100px;
            height: 30px;
            margin-top: 15px;
            border: 0;
            border-radius: 3px;
            background-color: rgb(69, 69, 121);
            color: white;
            font-size: 1.05rem;
            letter-spacing: 0.5px;
            font-family: 'Courier New', Courier, monospace;
        }
        input[type=submit]:hover {
            background-color: rgb(88, 88, 150);
        }
        label{
            display: block;
            float: left;
            width: 130px;
            font-size: 20px;
        }
        input {
            display: block;
            float: left;
        }
        input[type="text"], input[type="password"], input[type="email"] {
            outline: none;
            width: 230px;
            height: 25px;
            margin-bottom: 20px;
            border-top: 0;
            border-left:0;
            border-right: 0;
            background: #eee;
            border-radius: 5px;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.05rem;
        }
        @media screen and (max-width: 450px) {
            body, label {
                font-size: 1.05rem;
                width: 32%;
            }
            div {
                width: 99%;
            }
            input[type="text"], input[type="password"], input[type="email"] {
                width: 58%;
                height: 22px;
                margin-bottom: 18px;
            }
            form {
                margin-left: 20px;
            }
            p {
                margin-top: 155px;
                margin-left: 20px;
            }
        }
        @media screen and (max-width: 330px) {
            body, label {
                font-size: 0.9rem;
                width: 35%;
            }
            h1 {
                font-size: 1.3rem;
                margin-top: 10px;
            }
            div {
                width: 99%;
                margin-left: 1px;
            }
            input[type="text"], input[type="password"],input[type="email"] {
                font-size: 0.8rem;
                width: 56%;
                height: 19px;
                margin-bottom: 10px;
            }
            input[type="submit"] {
                width: 75px;
                height: 25px;
                font-size: 0.8rem;
                border-radius: 2px;
            }
            form {
                margin-left: 15px;
            }
            p {
                margin-top: 115px;
                margin-left: 15px;
                font-size: 0.8rem;
                margin-bottom: 10px;
            }
        }
    </style>
{% endblock %}