{% extends "main.html" %}

{% block title %} Reset password done {% endblock %}

{% block content %}

<div class="header"><p class="para">Password reset complete</p></div>
<div>
	<p class="content" >Your password has been set. You may go ahead and login now.</p>
	<a href="{% url 'login' %}"><button>Login</button></a>
</div>
<style>
	* {
		outline: none;
		margin: 0;
		padding: 0;
	}
	body {
		background: linear-gradient(to right,#bdc3c7,#2c3e50);
	}
	.content {
		font-family: Georgia, serif;
		font-size: large;
		margin-left: 60px;
		line-height: 1.6em;
		margin-top: 50px;
	}
	.header {
		width: 100%;
		height: 70px;
		background: #5c6e80;
	}
	.para {
		font-family: Georgia, serif;
		letter-spacing: 1px;
		font-weight: normal;
		font-size: xx-large;
		align-items: center;
		margin-left: 25px;
		padding-top: 15px;
	}
	button {
		width: 100px;
		height: 32px;
		font-size: large;
		font-family: fantasy;
		letter-spacing: 1px;
		border:0;
		background: #dde3e7;
		border-radius: 2px;
		margin-left: 60px;
		margin-top: 30px;
	}
	button:hover {
		background: #5c6e80;
		cursor: pointer;
	}
	button:focus {
		outline: none;
	}
</style>
{% endblock %}


